@using System.Activities.Expressions
@using System.Activities.Tracking
@using LogAnalyzer.Controllers
@using Microsoft.Ajax.Utilities
@model LogAnalyzer.ViewModel.Detalization

@*<p>
      @Html.ActionLink("Create New", "Create")
  </p>*@
<table class="table-condensed">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().OperationName))
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().Date)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().User)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().Duration)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().EntityType)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().OperationObjectType)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Operations.First().Tenant)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model.Operations)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.OperationName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Date)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.User)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Duration)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.EntityType)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.OperationObjectType)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Tenant)
      </td>
      @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
  }

</table>

<footer class="footer">
  <div class="container">
    @{
      Model.Parameters["page"] = 1;
      <span>@Html.ActionLink("1", "Index", Model.Parameters)</span>

      if (Model.CurrentPage - 4 > 2)
      {
        Model.Parameters["page"] = Model.CurrentPage - 5;
        <span>@Html.ActionLink("...", "Index", Model.Parameters)</span>
      }

      for (int i = -4; i <= 4; i++)
      {
        int pageNumber = Model.CurrentPage + i;
        if (pageNumber > 1 && pageNumber < Model.LastPage)
        {
          Model.Parameters["page"] = pageNumber;
          <span>@Html.ActionLink(pageNumber.ToString(), "Index", Model.Parameters)</span>
        }
      }

      if (Model.CurrentPage + 4 < Model.LastPage - 1)
      {
        Model.Parameters["page"] = Model.CurrentPage + 5;
        <span>@Html.ActionLink("...", "Index", Model.Parameters)</span>
      }

      Model.Parameters["page"] = Model.LastPage;
      <span>@Html.ActionLink(Model.LastPage.ToString(), "Index", Model.Parameters)</span>
    }
  </div>
</footer>
