@using LogAnalyzer.Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.ByDocumentTypesHeader</h2>
        <p>
            @Resources.ByDocumentTypesTooltip
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","DocumentwiseOperations")">@Resources.Details</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.ByUsersHeader</h2>
        <p>
            @Resources.ByUsersTooltip
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","UserwiseOperations")">@Resources.Details</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.ListsRaitingHeader</h2>
        <p>
            @Resources.ListsRaitingTooltip
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","ListRating")">@Resources.Details</a></p>
    </div>
</div>